.inicio{
    background-color: #6ca67b;
}

.logo{
    width: 260px;
    height: 250px;
    margin-right: 100px; /* aumenta o espaço para o lado */
    
}

.cabecalho{

    display: flex;
    align-items: center;  /* centraliza verticalmente */
    padding: 10px;
    
}

.icone{
    width: 40px;
    height: 40px;
     margin-right: 30px; /* aumenta o espaço para o lado */

}


#barraPesquisa {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 15px;
    margin-right: 900px; /* aumenta o espaço para o lado */
}

.iconelupa{
    width: 30px;
    height: 30px;
}

.img{
    width: 30px;
    height: 40px;
}

